body {
    background:pink;
}

h1, h4, p {
    font-family:"Courier New";
    color: black;
    text-align:center;
}

a {
    font-family:"Courier New";
    color:#2f4f4f;
}

#leftBar {
    width:25%;
    height:500px;
    float:left;
}

#cherub1 {
    float:left;
    height:60%;
    padding-top:0px;
}

#cherub2 {
    height:40%;
    padding-left:100px;
}

#aboutMe, #authors, #art {
    background:white;
    width:50%;
    float:left;
    margin-bottom:20px; 
}

ul {
    columns:2;   
}

#rightBar {
    width:25%;
    height:500px;
    float:right;
}

#cherub3 {
    height:50%;
    padding-left:30px;
    
}

#art {
    text-align:center;
}
